{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
      "react"
    ],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      "arrow-body-style": 0,
      "no-underscore-dangle": 0,
      "max-len": ["warn",125]
    }
  }